{% load news_tags %}<article class="card c-{{ a.category }}{% if compact %} compact{% endif %}">
  <a href="{{ a.get_absolute_url }}" tabindex="-1" aria-hidden="true">{% include 'news/_img.html' %}</a>
  <span class="kick">{{ a.get_category_display }}</span>
  <h3 class="ttl"><a href="{{ a.get_absolute_url }}">{{ a.title }}</a></h3>
  {% if not compact %}<p>{{ a.excerpt }}</p>{% endif %}
  <span class="when">{{ a.published_at|sw_ago }}<span class="dot"></span>{{ a.reading_minutes }} dk<span class="dot"></span><span class="vw" title="Imesomwa mara {{ a.views }}">{% icon "eye" %} {{ a.views|views_short }}</span></span>
</article>
