{% extends 'layouts/form.html' %}
{% block title %}{{ form.instance.pk|yesno:"Edit expense,Add expense" }}{% endblock %}
{% block section %}Money{% endblock %}{% block crumb %}{{ form.instance.pk|yesno:"Edit expense,New expense" }}{% endblock %}
{% block back_url %}{% url 'expense_list' %}{% endblock %}{% block back_label %}All expenses{% endblock %}
{% block tone %}t-rose{% endblock %}{% block icon %}bi-arrow-up-right{% endblock %}
{% block heading %}{{ form.instance.pk|yesno:"Edit expense,Money out" }}{% endblock %}
{% block subheading %}Every shilling tracked is a shilling you control.{% endblock %}
{% block fields %}
<div class="row g-3">
  <div class="col-md-6">{% include 'partials/field.html' with field=form.amount icon='bi-cash-coin' wrap='' %}</div>
  <div class="col-md-6">{% include 'partials/field.html' with field=form.date icon='bi-calendar-event' wrap='' %}</div>
  <div class="col-12">{% include 'partials/field.html' with field=form.category icon='bi-tag' wrap='' %}</div>
  <div class="col-12">{% include 'partials/field.html' with field=form.notes wrap='' %}</div>
</div>
{% endblock %}
{% block cancel_url %}{% url 'expense_list' %}{% endblock %}
{% block submit_label %}{{ form.instance.pk|yesno:"Save changes,Add expense" }}{% endblock %}
