{% extends 'layouts/form.html' %}
{% block title %}{{ form.instance.pk|yesno:"Edit event,Add event" }}{% endblock %}
{% block section %}Life{% endblock %}{% block crumb %}{{ form.instance.pk|yesno:"Edit event,New event" }}{% endblock %}
{% block back_url %}{% url 'schedule_list' %}{% endblock %}{% block back_label %}Schedule{% endblock %}
{% block tone %}t-plum{% endblock %}{% block icon %}bi-clock{% endblock %}
{% block heading %}{{ form.instance.pk|yesno:"Edit event,Plan something" }}{% endblock %}
{% block subheading %}Set a reminder and wILife will nudge you on WhatsApp, email or Telegram.{% endblock %}
{% block fields %}
<div class="row g-3">
  <div class="col-12">{% include 'partials/field.html' with field=form.title icon='bi-pencil' wrap='' %}</div>
  <div class="col-md-6">{% include 'partials/field.html' with field=form.start_datetime icon='bi-play-circle' wrap='' %}</div>
  <div class="col-md-6">{% include 'partials/field.html' with field=form.end_datetime icon='bi-stop-circle' wrap='' %}</div>
  <div class="col-md-6">{% include 'partials/field.html' with field=form.location icon='bi-geo-alt' wrap='' %}</div>
  <div class="col-md-6">{% include 'partials/field.html' with field=form.reminder_datetime icon='bi-bell' wrap='' %}</div>
  <div class="col-12">{% include 'partials/field.html' with field=form.description wrap='' %}</div>
</div>
{% endblock %}
{% block cancel_url %}{% url 'schedule_list' %}{% endblock %}
{% block submit_label %}{{ form.instance.pk|yesno:"Save changes,Add event" }}{% endblock %}
