{% extends 'layouts/form.html' %}
{% block title %}{{ form.instance.pk|yesno:"Edit task,Add task" }}{% endblock %}
{% block section %}Life{% endblock %}{% block crumb %}{{ form.instance.pk|yesno:"Edit task,New task" }}{% endblock %}
{% block back_url %}{% url 'task_list' %}{% endblock %}{% block back_label %}All tasks{% endblock %}
{% block tone %}t-sky{% endblock %}{% block icon %}bi-check2-square{% endblock %}
{% block heading %}{{ form.instance.pk|yesno:"Edit task,What needs doing?" }}{% endblock %}
{% block subheading %}Small, clear tasks get done. Big vague ones don't.{% endblock %}
{% block fields %}
<div class="row g-3">
  <div class="col-12">{% include 'partials/field.html' with field=form.title icon='bi-pencil' wrap='' %}</div>
  <div class="col-12">{% include 'partials/field.html' with field=form.description wrap='' %}</div>
  <div class="col-md-4">{% include 'partials/field.html' with field=form.date icon='bi-calendar-event' wrap='' %}</div>
  <div class="col-md-4">{% include 'partials/field.html' with field=form.priority icon='bi-flag' wrap='' %}</div>
  <div class="col-md-4">{% include 'partials/field.html' with field=form.status icon='bi-circle-half' wrap='' %}</div>
</div>
{% endblock %}
{% block cancel_url %}{% url 'task_list' %}{% endblock %}
{% block submit_label %}{{ form.instance.pk|yesno:"Save changes,Add task" }}{% endblock %}
