<ul class="dropdown-menu dropdown-menu-end">
  <li><h6 class="dropdown-header">Quick add</h6></li>
  <li><a class="dropdown-item" href="{% url 'income_create' %}"><span class="ico t-leaf"><i class="bi bi-arrow-down-left"></i></span>Income</a></li>
  <li><a class="dropdown-item" href="{% url 'expense_create' %}"><span class="ico t-rose"><i class="bi bi-arrow-up-right"></i></span>Expense</a></li>
  <li><a class="dropdown-item" href="{% url 'task_create' %}"><span class="ico t-sky"><i class="bi bi-check2"></i></span>Task</a></li>
  <li><a class="dropdown-item" href="{% url 'schedule_create' %}"><span class="ico t-plum"><i class="bi bi-clock"></i></span>Event</a></li>
  <li><a class="dropdown-item" href="{% url 'goal_create' %}"><span class="ico t-sun"><i class="bi bi-bullseye"></i></span>Goal</a></li>
  <li><a class="dropdown-item" href="{% url 'health_create' %}"><span class="ico t-teal"><i class="bi bi-heart-pulse"></i></span>Health log</a></li>
</ul>
